body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 16px;
}
main {
  width: 15em;
  height: 15em;
  border: 1.5px solid cadetblue;
  display: flex;
  flex-wrap: wrap;
}
main div {
  /* width: calc(500px / 3);
  height: calc(500px / 3); */
  box-sizing: border-box;
  border: 3px cadetblue solid;
}
